h1 {
    color:purple; font-family: arial; text-align: center;
}
#p1 {
    color:purple; text-align: center;
}

.kittens {
    font-size: 22px; font-family: arial;
}
img {height: 400px;
}

#p3 {
    font-style: arial;
}